.greenLine {
    background-color: #9bdcd2;
    height: 30px;
    font-family: mulish;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.bagContainer {
    margin-bottom: 10px;
    text-align: right;
}

.bagButton{
    background: none;  
    cursor: pointer;
    border: none;
}

.bag {
    height: 40px;
  
}

.bagNumber {
    background-color: rgb(0, 0, 0);     
    color: white;               
    display: inline-block;      
    padding: 3px;              
    border-radius: 50%;        
    width: 22px;               
    height: 22px;               
    text-align: center;         
    line-height: 22px;               
    font-size: 14px;   
    position:relative;
    right: 20px;
        
  }

.logo {
    height: 150px;
    margin-top: 30px;
}

.foto {
    height: 450px;
    width: 100%;
    background-size: cover;
    border-radius: 3px;
    
}

.fotoContainer {
    position: relative;
}

@media (max-width: 1000px) {
    .foto {
        height: auto;
        object-fit: scale-down;
    }

   
  }

  @media (max-width: 800px) {
    .greenLine {
        font-size: 10px;
    }
  }