
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    margin-right: 5px;
    margin-top: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: mulish;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.buttonActive {
    margin-right: 5px;
    margin-top: 20px;
    background-color: rgb(189, 184, 184);
    margin-right: 5px;
    color:black;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 3px;
    border: 1.5px solid black;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 700;
    font-family: mulish;
    cursor: pointer;
    transition: border-color 0.25s;
}


  .button:focus,
  .button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }