.titulo {
    font-family: mulish;
    font-weight:600;
}

.imagen {
    height: 500px;  
}

.card {
    padding: 10px;
    width: 98%;
    background-color: #f2f2f2;
    margin:10px 2px 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    border-radius: 3px;
}

.description {
    display: block;
    width: 70%;
    margin: auto;
}


.card > div > p {
    font-size: 1.4em;
}



@media (max-width: 1230px) {
    .imagen {
        height: 350px;  
    }
    
   
  }


  
@media (max-width: 780px) {
    .imagen {
        height: 300px; 
    }
         
    }

 