.card {
    display: flex;
    width:450px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-top: 1px #c5c5c5 solid;
    padding :0 10px 0 10px;
 
}

.deleteImage {
    height: 40px;
    
}

.deleteImage:hover {
    opacity: 0.6;    
}

.imagen {
    height: 100px;  
}


.button:active {
    transform: translateY(2px); /* Desplaza el botón hacia abajo */
  }

.button{
    background-color: transparent;
    border: none;
    margin-right: 15px;
    transition: transform 0.1s ease;       
}



.imageContainer {
    width: 100px;
    align-items: center;

}

.titleContainer {
    flex: 1;             
}

.titleButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

@media screen and (max-width: 516px) {
    .card {
        width: 98%;   
        height: 300px;
    }
    .titleButtonContainer {
        flex-direction: column;
    }

    .button {
        width: 60px;
        height: 25px;
    }

  

    .imageContainer {
        width: 60px;
        align-items: center;
    
    }


}
   